h4 {
    font-family: AvenirNextRoundedPro-Medium;
}

#authorizedLayout {
    background: white !important;
}

.navbar-default {
    color: rgb(62, 62, 62);
    border: none;
    border-radius: 0;
    min-height: 40px;
    background-color: white;
    height: 100px;
    margin-bottom: 0;
}

.navbar-brand {
    padding: 6px 11px;
}

.navbar-nav a {
    color: rgb(62, 62, 62);
}

#content-container {
    background-color: #f5f5f5;
}


.is-loading {
    background:  #bdf7ff;
}

.breadcrumbs__separator {
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(100% - 0.4375rem);
    width: 0.75rem;
    overflow: hidden;
}

.breadcrumbs__separator:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: -0.9375rem;
    width: 6.25rem;
    height: 6.25rem;
    background-color: #e9ecef;
    border: 0.25rem solid #fff;
    transform: translateY(-50%) scaleX(0.5) rotate(45deg);
    transition: background-color 300ms;
}

.u-display-none {
    display: none !important;
}

html {
    overflow-y: scroll !important;
}

.tree-view a {
    text-decoration: none;
    color: black;
}

.tree-view_item {
    padding: 3px 8px;
}

.tree-view_item:hover {
    background-color: #e7e7e77a;
}

.tree-view_arrow {
    cursor: pointer;
    margin-right: 6px;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .tree-view_arrow:after {
    content: '▾';
    color: #3d3d3d75;
  }

  .tree-view_arrow-collapsed {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  
  .sidebar-selector {
      li {
          padding: 2px 5px;
      }

      li:hover {
          background-color: #e7e7e77a;
      }

      button {
        border: none;
        background: transparent;
        width: 100%;
        text-align: left;
      }
  }

  #logo-login:hover {
    background: #0000000d !important;
  }

  .button-action {
    text-align: left;
    padding: 0 20px;
  }

  .button-action:hover {
    background: #0000000d !important;
    transition-delay: 0.01s;
  }

  header {
    padding: 20px 50px;
  }

  #hello-world {
    background: #f4f4f6;
  }
  
  nav {
    width: 100%;
    margin: 0;
    top: 0;

    ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid rgb(224, 226, 231);
      }
      
      li {
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
        transition: all 0.3s ease-in;
        cursor: pointer;
        margin-right: 20px;
      }
  }
  
  .fixed-nav {
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 123123;
    background: white !important;
  }

  ._3PK-lmKzpAGcI8WTdBQX4i {
  }

  .-ePYCIKwmKaSsQTHX72YG {
      margin-bottom: 50px;
  }

  .templateList___2swQr {
    position: relative;
    z-index: 1;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-top: 1px;
    transition: .5s cubic-bezier(.68,-.55,.265,1.55);
}

.templateWrapper___3Fitk {
    position: relative;
    height: 160px;
    margin-right: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 0 1px rgba(0,0,0,.16);
    border-radius: 3px;
    // transition: .3s cubic-bezier(.645,.045,.355,1);
}

.templateWrapper___3Fitk:hover {
    transform: translateY(-3px);
    transition: .3s cubic-bezier(.645,.045,.355,1);
}

.editTemplateWrapper___29oLU {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(38,49,71,.48);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(38,49,71,.24);
    opacity: 0;
}

.editTemplate___3q0zy, .editTemplateWrapper___29oLU {
    position: absolute;
    transition: 1s;
}

.editTemplate___3q0zy {
    top: 50%;
    left: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 4px;
    transform: translate(-50%,-50%);
    pointer-events: auto;
}

.templateInfo___2YZSg {
    position: absolute;
    left: 50%;
    margin-top: 8px;
    transform: translateX(-50%);
    // opacity: 0;
    pointer-events: none;
    // color: white;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

// .templateWrapper___3Fitk:hover .editTemplateWrapper___29oLU, .templateWrapper___3Fitk:hover .templateInfo___2YZSg {
//     opacity: 1 !important;
// }

// .templateWrapper___3Fitk:first-child .templateInfo___2YZSg {
//     left: 0;
//     transform: translateX(0);
// }

.format___3qx4a, .size___1sVBg {
    text-align: center;
}

.small___1Vvfz {
    font-size: 12px;
    line-height: 21px;
    font-weight: 500;
    margin-bottom: 0;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.iconPlay___RdcjT {
    position: absolute;
    right: 0;
    bottom: 0;
}

.preview___37TNk, .previewWrapper___mbAh5 {
    position: relative;
    // height: 160px;
    border-radius: 4px;
    overflow: hidden;

    padding: 20px;
    background-color: #eee;
    // border: 1px solid rgba(64,87,109,.01);
}

.templateList___2swQr {
    list-style: none;
    padding: 0;
}

.renderView___1QdJs {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-right: 0px;
    overflow: scroll;
}

.button-list {
    background: none;
}

.button-list:hover {
    background: rgba(55, 53, 47, 0.08) !important;
}

#login-btn:hover {
    text-decoration: none;
    background: rgba(55, 53, 47, 0.08);
}

#logo:hover {
    filter: brightness(1.2);
}

.arrowWrapper___rLMf7 {
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px, rgba(0, 0, 0, 0.16) 0px 0px 1px;
}

.arrowWrapper___rLMf7:hover {
    background: #56aaff !important;
    fill: white;
}


#language-btn {
    padding: 0 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgba(14,19,24,.7);
    text-decoration: none;
    transition: color .2s;
    cursor: pointer;
    font-size: 13px;
    border-radius: 4px;
  }
  
  #language-btn:hover {
    text-decoration: none;
    // color: #56aaff;
    background: rgba(55, 53, 47, 0.08);
  }
  
  .language-btn-title {
    white-space: nowrap;
    margin: 0 8px;
  }


#language-dropdown {
    z-index: 999999;
    position: absolute;
    background-color: white;
    border-radius: 4px;
    top: 60px;
    right: 10px;
    box-shadow: rgba(14, 19, 24, 0.02) 0px 0px 0px 1px, rgba(14, 19, 24, 0.15) 0px 2px 8px;
  }

  
  .search-box-container {
    box-sizing: border-box;
    padding: 16px;
  }


.search-box {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='currentColor' d='M15.2 16.34a7.5 7.5 0 1 1 1.38-1.45l4.2 4.2a1 1 0 1 1-1.42 1.41l-4.16-4.16zm-4.7.16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    padding-left: 40px;
    border-radius: 4px;
    border: 1px solid rgba(14,19,24,.2);
    cursor: text;
    background-position: left 8px center;
  }


.language-list {
    margin: 0;
    padding: 8px 0;
    list-style: none;
    width: 100%;
    font-weight: 400;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    padding-top: 0;
    font-size: 13px;
  }
  
  .language-list-item {
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;
    padding: 0 8px;
  }
  
  .language-list-item:hover {
    background: rgba(55, 53, 47, 0.08);
  }
  
  .language-list-item-selected {
    display: flex;
  }


.language-list {
    margin: 0;
    padding: 8px 0;
    list-style: none;
    width: 100%;
    font-weight: 400;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    padding-top: 0;
    font-size: 13px;
  }
  
  .language-list-item {
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;
    padding: 0 8px;
  }
  
  .language-list-item:hover {
    background: rgba(55, 53, 47, 0.08);
  }
  
  .language-list-item-selected {
    display: flex;
  }
  
  .disabled {
    pointer-events: none;
  }
  
  .language-list-item-selected-left {
    padding: 0 8px;
    font-weight: 700;
    height: 40px;
    transition: background-color .1s linear;
    display: flex;
    align-items: center;
  }
  
  .language-list-item-selected-right {
    margin-left: auto;
    margin-right: 16px;
    color: #56aaff;
    align-self: center;
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: text-bottom;
    box-sizing: border-box;
  }
  
  .language-hr-container {
    padding: 0 8px;
  }
  
  .language-hr {
    border: none;
    border-bottom: 1px solid rgba(14,19,24,.07);
    margin: 7px 0;
    height: 1px;
  }
  
  .language-list-item-non-selected {
    cursor: pointer;
    padding: 0 8px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    height: 40px;
    transition: background-color .1s linear;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
  
  .language-list-item-non-selected:hover {
    text-decoration: none;
  }
  
  .language-list-item-non-selected-content {
    color: rgba(14,19,24,.7);
  }
  

.search-box:hover {
    border: 1px solid rgba(14,19,24,.5);
  }
  
  .search-box:focus {
    border: 1px solid #00c4cc;
  }
  
  .language-list-container {
    height: 320px;
    overflow-y: scroll;
    user-select: none;
  }
  