#guestLayout {

    #loginContainer {
        width: 400px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 0;
        padding: 20px;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


.jsx-104637934 {
    color: black;
}

.tile-rack__tile-wrap {
    background: rgba(255, 255, 255, 0.46);
    padding: .75rem 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin-right: 5px;
}

._2Wf-SlnxpiKP9h4IkWZoDa {
    align-items: center;
    display: flex;
}

._2uHN4spVhhwLkZOp3_KMfh {
    border: none;

    background-color: transparent;
    width: 100%;
}

._3VrPWTB9VCs9Aq7gbbsrnr {
    padding: 5px;
    width: 100%;
}

._3vRw2O1Xs0IY3kcnmLCS7O {
    width: 20px;
    height: 20px;
}

._2EGWQBRVP2StSe2iTvRlDw {
    margin-right: 5px;
}

._35hMZzDjUCiFAL0T8RAwqY ._3VrPWTB9VCs9Aq7gbbsrnr:hover {
    background-color: rgba(14,19,24,.07);
}

._2bXdXf_GqdFQVMmOz0A8L8 {
    margin-right: 5px;
}


#search-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='currentColor' d='M15.2 16.34a7.5 7.5 0 1 1 1.38-1.45l4.2 4.2a1 1 0 1 1-1.42 1.41l-4.16-4.16zm-4.7.16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 6px 7px;
}

#search-icon:focus {
    outline: none;
}