body {
    font-family: AvenirNextRoundedPro;
    font-weight: 500;
    overscroll-behavior: none;
}
  


@-webkit-keyframes TB8Ekw {
	0% {
		opacity: .07
	}
	25% {
		opacity: .025
	}
	50% {
		opacity: .07
	}
	to {
		opacity: .07
	}
}

@keyframes TB8Ekw {
	0% {
		opacity: .07
	}
	25% {
		opacity: .025
	}
	50% {
		opacity: .07
	}
	to {
		opacity: .07
	}
}