.TipBase {
    color: white;
    border-radius: 5px;
}

.TipBase::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }

  .Tooltip-2 {
      display: block;
  }